Flask==2.3.2
gunicorn==21.2.0
sglang==0.4.5.post1
uv
transformers
torch
torchvision
torchaudio
ipykernel
ipywidgets
jupyter_client
decord
markdown>=3.4.0
matplotlib
myst-parser
nbconvert
nbsphinx
pandoc
pillow
pydantic
sphinx
sphinx-book-theme
sphinx-copybutton
sphinx-tabs
nbstripout
sphinxcontrib-mermaid
urllib3<2.0.0
gguf>=0.10.0
sphinx-autobuild
